<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>bluepay</name>
            <displayName><![CDATA[BluePay]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Accept Credit card &amp; ACH payments today with BluePay]]></description>
            <author><![CDATA[BluePay Processing, LLC]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>
