<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>stripejs</name>
	<displayName><![CDATA[Stripe]]></displayName>
	<version><![CDATA[0.9.7]]></version>
	<description><![CDATA[Accept payments by Credit Card with Stripe (Visa, Mastercard, Amex, Discover and Diners Club)]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Warning: all the Stripe customers credit cards and transaction details saved in your database will be deleted. Are you sure you want uninstall this module?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>