<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ogone</name>
	<displayName><![CDATA[Ogone]]></displayName>
	<version><![CDATA[2.6]]></version>
	<description><![CDATA[With over 80 different payment methods and 200+ acquirer connections, Ogone helps you manage, collect and secure your online or mobile payments, help prevent fraud and drive your business!]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
