<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>avalaratax</name>
	<displayName><![CDATA[Avalara - AvaTax]]></displayName>
	<version><![CDATA[3.4.3]]></version>
	<description><![CDATA[Sales Tax is complicated. AvaTax makes it easy.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>