#addshoppers_buttons.addshoppers-disabled {
  display: none;
}
#addshoppers_buttons.addshoppers-enabled {
  margin-bottom: 10px;
}

#addshoppers_buttons.addshoppers-enabled:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#addshoppers_buttons.addshoppers-enabled .share-buttons-panel {
  float: right;
}

#addshoppers_buttons.addshoppers-enabled .share-buttons-og {
  margin-left: 5px;
  margin-right: 5px;
}