.feature_links li { line-height:25px; }
.feature_links li .delete_link { padding-right:15px; display:inline-block; }
.feature_links li .delete_link img { vertical-align:-3px; }
.feature_links li .prestashop_name { padding-right:7px; display:inline-block; }
.feature_links li .netven_name { padding-left:7px; display:inline-block; }

.order_state_list { font-size:12px; }
.order_state_list .order_state_line { line-height:25px; }
.order_state_list .order_state_line span { display:inline-block; padding-right:15px; }
.order_state_list .order_state_line span img { vertical-align:-3px; }

.neteven-description-title { font-size: 1.1em; text-transform: uppercase; font-weight: bold; margin: 20px 0 0 0; }