[submodule "alliedwallet/backward_compatibility"]
	path = alliedwallet/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "authorizeaim/backward_compatibility"]
	path = authorizeaim/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "avalaratax/backward_compatibility"]
	path = avalaratax/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "backwardcompatibility/backward_compatibility"]
	path = backwardcompatibility/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "buyster/backward_compatibility"]
	path = buyster/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "canadapost/backward_compatibility"]
	path = canadapost/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "cloudcache/backward_compatibility"]
	path = cloudcache/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "dibs/backward_compatibility"]
	path = dibs/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "fedexcarrier/backward_compatibility"]
	path = fedexcarrier/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "ganalytics/backward_compatibility"]
	path = ganalytics/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "hipay/backward_compatibility"]
	path = hipay/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "jirafe/backward_compatibility"]
	path = jirafe/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "mailjet/backward_compatibility"]
	path = mailjet/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "merchantware/backward_compatibility"]
	path = merchantware/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "mondialrelay/backward_compatibility"]
	path = mondialrelay/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "ogone/backward_compatibility"]
	path = ogone/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "paypal/backward_compatibility"]
	path = paypal/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "paysafecard/backward_compatibility"]
	path = paysafecard/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "shipwire/backward_compatibility"]
	path = shipwire/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "socolissimo/backward_compatibility"]
	path = socolissimo/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "trustedshops/backward_compatibility"]
	path = trustedshops/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "trustly/backward_compatibility"]
	path = trustly/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility.git
[submodule "upscarrier/backward_compatibility"]
	path = upscarrier/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "uspscarrier/backward_compatibility"]
	path = uspscarrier/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "themeinstallator/backward_compatibility"]
	path = themeinstallator/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility.git
[submodule "ebay/backward_compatibility"]
	path = ebay/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "payulatam/backward_compatibility"]
	path = payulatam/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "gsitemap/backward_compatibility"]
	path = gsitemap/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "nqgatewayneteven/backward_compatibility"]
	path = nqgatewayneteven/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "firstdata/backward_compatibility"]
	path = firstdata/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "browsi/backward_compatibility"]
	path = browsi/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility.git
[submodule "adyen/backward_compatibility"]
	path = adyen/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "shopgate/backward_compatibility"]
	path = shopgate/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "realexredirect/backward_compatibility"]
	path = realexredirect/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "gointerpay/backward_compatibility"]
	path = gointerpay/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "textmaster/backward_compatibility"]
	path = textmaster/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "sofortbanking/backward_compatibility"]
	path = sofortbanking/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "trustpilot/backward_compatibility"]
	path = trustpilot/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "globkurier/backward_compatibility"]
	path = globkurier/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "ferbuy/backward_compatibility"]
	path = ferbuy/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "klarnaprestashop/backward_compatibility"]
	path = klarnaprestashop/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "paypalusa/backward_compatibility"]
	path = paypalusa/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "feedaty/backward_compatibility"]
	path = feedaty/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
[submodule "alliance3/backward_compatibility"]
	path = alliance3/backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility
