.table-response{ width: 42%;}
.md-h1{text-align: center;}
.md-tracking{display:none}
.div-redirect{text-align:center;}
.md-error{color:red}
.tx-redirect{font-size:15px;}
.link-redirect{padding-left: 20px;}
.md-payment{width:160px}
.md-form{display:none}