.payu-module-wrapper { font-family: Helvetica,Arial,sans-serif; margin: 0px auto; overflow: hidden; padding: 0px; max-width: 1024px; min-width: 930px; }
.payu-module-inner-wrap { overflow: hidden; margin-bottom: 25px; padding-top: 10px; position: relative; }
.payu-module-wrapper h1, .payu-module-wrapper h2 { color: #00B1E7; font-size: 16px; font-weight: lighter; line-height: 18px; letter-spacing: 2px; margin: 0px 0px 15px 0px; padding: 0px; text-transform: uppercase; text-shadow: 0px 1px 0px #D8D8D8; }
.payu-module-wrapper h2 { margin: 0px 0px 5px 0px; text-transform: none; }
.payu-module-inner-wrap p, .payu-module-inner-wrap ul li { color: #666; font-size: 13px; line-height: 18px; margin: 0px 0px 15px 0px; padding: 0px; }
ul.payu-benefits { list-style: none; margin: 0px 0px 20px 0px; padding: 0px; }
ul.payu-benefits li { background: url(../img/payu-check.png) left 2px no-repeat; padding: 0px 0px 0px 20px; }

img.payu-logo { position: absolute; left: 5px; top: 20px; }
p.payu-module-intro { color: #333; margin: 0px; position: absolute; left: 0px; bottom: 15px; width: 280px; }
a.payu-button {
	background-image: url(../img/payu-btn.gif); background-repeat: repeat-x; background-position: center top;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	color: #FFF;
	display: block; font-size: 16px; height: 45px; line-height: 45px; text-align: center; text-shadow: 0px 1px 1px #1B5C8B; vertical-align: middle; width: 280px;
}
a.payu-button:hover, a.payu-button:active { background-position: center bottom; color: #FFF; text-decoration: none; }
.payu-module-right-col { border-left: #D8D8D8 dashed 1px; float: right; padding: 25px 0px 0px 45px; margin-left: 325px; }
ul.payu-3cols { list-style: none; margin: 0px; padding: 0px; }
ul.payu-3cols li { display: inline-block; float: left; margin: 0px; padding: 0px; width: 33%; }
p.payu-small-col1 { border-right: #D8D8D8 dashed 1px; padding: 10px 17px 0px 0px; }
p.payu-small-col2 { padding: 10px 17px 0px 17px; }
p.payu-small-col3 { border-left: #D8D8D8 dashed 1px; padding: 10px 0px 0px 17px; }

#menuTab {padding: 0; margin: 0; text-align: left; }
#menuTab li { text-align: left; float: left; display: inline; padding: 5px 10px 5px 5px; background: #EFEFEF; font-weight: bold; cursor: pointer; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-left: 5px; height: 14px; }
#menuTab li.menuTabButton.selected { background: #FFFFF0; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-bottom: -1px; padding-bottom: 6px;}
#menuTab li img { margin-top: -2px; }
#tabList { clear: left; }
.tabItem { display: none; }
.tabItem.selected { display: block; background: #FFFFF0; border: 1px solid #CCCCCC; padding: 10px; }
#tabList h4 { text-shadow: 0 1px 0 #FFFFFF; }
#tabList h4.first { margin-top: 0px; }
#tabList sup { color: #CC0000; font-weight: bold; vertical-align: text-top; }
#tabList a { color: #268CCD; text-decoration: underline; }
#tabList a:hover { color: #268CCD; text-decoration: none; }

.tab-configure ul { list-style: none; margin: 0px 0px 10px -15px; overflow: hidden; padding: 0px; }
.tab-configure ul li { display: block; float: left; width: 25%; }
.tab-configure ul li p { border-right: #CCCED7 dashed 1px; margin: 0px; padding: 0px 15px 5px 15px; }
.tab-configure ul li.last p { border-right: none; }
.tab-configure ul li p img.info-img { margin-top: 10px; }
.tab-configure p.note { color: #7F7F7F; font-size: 0.85em; }