.md-header { background: url(../img/header.jpg) #f1f1f1 no-repeat; min-height:258px; overflow-y: auto; padding-bottom: 20px;}
.md-h4 { color: #00adee;}
.md-section { overflow: auto;}


.md-blue-light { color: #00adee;}

.row {overflow: hidden;}
.md-contenedor { max-width: 960px; margin: 0 auto; width: 100%; padding: 0 0 20px 0; box-shadow: 0 0 5px #CCC;}
.md-log {margin: 20px auto;  width: 150px;}
.md-copy { font-size: 2em; line-height: 1.1em; color: #58595b; text-align: center;}
.md-btn-action { margin: 20px auto; width: 240px;}
.md-btn { color: #FFF; text-align: center; padding: 8px 15px; border-radius: 6px; box-shadow: 0 0 5px #575757; border: none; font-size: 1.3em;
	   	background: #bacf38; /* Old browsers */
    background: -moz-linear-gradient(top, #bacf38 1%, #648a3c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bacf38), color-stop(100%,#648a3c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bacf38 1%,#648a3c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bacf38 1%,#648a3c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bacf38 1%,#648a3c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #bacf38 1%,#648a3c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacf38', endColorstr='#648a3c',GradientType=0 ); /* IE6-9 */
}
.md-btn:hover { 
	color: #FFF;
	background: #9de2ff; /* Old browsers */
    background: -moz-linear-gradient(top, #9de2ff 1%, #009cdd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9de2ff), color-stop(100%,#009cdd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9de2ff 1%,#009cdd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9de2ff 1%,#009cdd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9de2ff 1%,#009cdd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9de2ff 1%,#009cdd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9de2ff', endColorstr='#009cdd',GradientType=0 ); /* IE6-9 */
}

.md-center { text-align: center;}
.md-left { text-align: left; padding: 0 !important; margin: 0 !important; }
.md-left img { width: 100%;}

.md-p1 { font-size: 1.4em; color: #224290; line-height: 1.1em; padding: 15px 15px 15px 13px; text-align: center;}
.md-p2 { text-align: justify; font-size: 1em; color: #58595b; padding: 0px 20px 20px;}

.md-col { padding: 0 25px 0 30px;}
.md-col ul { padding-left: 13px; font-size: 0.9em; list-style-image: url(../img/bullet.png);}
.md-col ul li { margin-bottom: 10px;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background:#00adee; color: #FFF; font-weight: bold;}
.md-mg { margin-top: 20px;}

.md-pad h4 { color: #224290 !important;}
.md-pad h5 { color: #224290; font-weight: bold;}
.md-numb li{ list-style: ;}

.md-item { display: block; overflow: auto;}
.md-fl-left{ float: left;}
.md-firstt{ margin: 0 60px 0 14px;}
.md { padding: 0 5px;}

.md-save .md-btn { padding: 6px 20px; font-size: 1em; margin: 8px; width: 95%; color: white;}
.nav-tabs > li > a { background: #eee;}


@media only screen and (min-width : 480px) {

.md-left img { width: 70%; }
.md-left { text-align: center; }

}

@media only screen and (min-width : 640px) {

.md-left img { width: 56%; }
.md-left { text-align: center; }
.md-save .md-btn { padding: 6px 20px; font-size: 1em; margin: 8px 0 8px; width: 40%;color: white;}

}


@media only screen and (min-width : 768px) {

.md-save .md-btn { padding: 6px 20px; font-size: 1em; margin: 8px 0 8px; width: 20%;color: white;}
.md-copy { font-size: 1.4em;}
.md-left img { width: 113%; margin: 80px 0 0 -20px;}
.md-header { background-position: right; }
.md-log { margin: 20px auto 35px; }
.md-p1 { font-size: 1.6em; margin: 0 0 0 20px; text-align: left; }
.md-pad { padding: 15px;}

}


@media only screen and (min-width : 1024px) {

.md-top { margin-top: 80px;}
.md-log { margin: 20px;}
.md-copy { text-align: left; margin-left: 20px; font-size: 2em;}
.md-md-btn-action { margin: 20px;}
.md-p1 { text-align: center; font-size: 1.5em;}
.md-left img { margin: 0; width: 113%; }
.md-p1 { font-size: 2em; margin: 0 0 0 19px; text-align: left; }
.md-body { color: #58595b; padding: 20px;}
.md-header { background-size:110%;}





}