<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>shopgate</name>
	<displayName><![CDATA[Shopgate]]></displayName>
	<version><![CDATA[2.3.7]]></version>
	<description><![CDATA[Sell your products with your individual app and a website optimized for mobile devices.]]></description>
	<author><![CDATA[Shopgate]]></author>
	<tab><![CDATA[mobile]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>