<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nqgatewayneteven</name>
	<displayName><![CDATA[NetEven]]></displayName>
	<version><![CDATA[2.7]]></version>
	<description><![CDATA[Vendez sur toutes les marketplaces depuis votre PrestaShop]]></description>
	<author><![CDATA[NetEven]]></author>
	<tab><![CDATA[market_place]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>

