/* Search */

div#prediggo_search{
	clear:both;
	background:#FFF;
	display:block;
	border: 1px dotted #CCCCCC;
	padding:10px;
	width:424px;
	height:30px;
	float:left;
}

	div#prediggo_search p{
		display:block;
		clear:both;
	}

		div#prediggo_search p input[type="text"]{
			width:300px;
			height:16px;
			float:left;
			padding: 6px 11px;
			border: 1px solid #383838;
			color:#383838;
			margin:0px;
		}

		div#prediggo_search p input[type="submit"]{
			background: none repeat scroll 0 0 #383838;
		    color: #FFFFFF;
		    font-size: 12px;
		    padding: 6px 11px;
		    text-shadow: 0 1px 0 #000000;
		    text-transform: uppercase;
		    cursor:pointer;
		    border:0px;
		    margin:0px;
		    width:100px;
		    height:30px;
		}

			div#prediggo_search p input[type="submit"]:hover{
				background: none repeat scroll 0 0 #585858;
			}

/* Autocomplete */

div#prediggo_autocomplete{
	position:absolute;
	top:0px;
	left:0px;
}



/* Left Column / Right Column */
#left_column div.prediggo_reco_left_column,
#right_column div.prediggo_reco_right_column{
	clear: both;
	margin: 10px 0;
	display:block;
	font-family:Arial;
	width:191px;
	background:none;
}

	#left_column div.prediggo_reco_left_column h4,
	#right_column div.prediggo_reco_right_column h4{
		background: none repeat scroll 0 0 #383838;
	    color: #FFFFFF;
	    font-size: 12px;
	    padding: 6px 11px;
	    text-shadow: 0 1px 0 #000000;
	    text-transform: uppercase;
	}

	#left_column div.prediggo_reco_left_column div.block_content,
	#right_column div.prediggo_reco_right_column div.block_content{
		background:#FFF;
		display:block;
		border: 1px dotted #CCCCCC;
		padding:0;
	}

		#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products,
		#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products{

		}

			#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li,
			#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li{
				float:left;
				margin: 10px;
			    padding: 10px;
			    width: 151px;
			    height:250px;
			}

				#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li:hover,
				#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li:hover{
					background:#f6f6f6;
				}

			#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li.separator,
			#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li.separator{
				border-top:1px dotted #CCCCCC;
				width:171px;
				height:1px;
				margin:0 10px;
				padding:0;

			}

				#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li a,
				#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li a{
					display:block;
				}

					#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li a img,
					#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li a img{
						border-bottom: 1px dotted #CCCCCC;
						margin-left:10px;
					}

				#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li h5,
				#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li h5{
				    height: 30px;
				    padding-top: 5px;
				}

					#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li h5 a,
					#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li h5 a{
						color: #333;
				    	font-size: 12px;
					}


				#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li div.product_desc,
				#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li div.product_desc{
				    color: #666666;
				    font-size: 9px;
				    height: 50px;
				    text-align:justify;
				}

				#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li div.price_container,
				#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li div.price_container{

				}

					#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li div.price_container span.reduction,
					#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li div.price_container span.reduction{
						color:#999;
					}

					#left_column div.prediggo_reco_left_column div.block_content ul.prediggo_products li div.price_container span.price,
					#right_column div.prediggo_reco_right_column div.block_content ul.prediggo_products li div.price_container span.price{
						color:#900;
					}

/* Block layered / Footer */
#center_column div.prediggo_reco_blocklayered,
#footer div.prediggo_reco_footer{
	clear: both;
	margin: 10px 0;
	display:block;
	font-family:Arial;
	width:100%;
	background:none;
}

	#center_column div.prediggo_reco_blocklayered h4,
	#footer div.prediggo_reco_footer h4{
		background: none repeat scroll 0 0 #383838;
	    color: #FFFFFF;
	    font-size: 12px;
	    padding: 6px 11px;
	    text-shadow: 0 1px 0 #000000;
	    text-transform: uppercase;
	}

	#center_column div.prediggo_reco_blocklayered div.block_content,
	#footer div.prediggo_reco_footer div.block_content{
		background:#FFF;
		display:block;
		border: 1px dotted #CCCCCC;
		padding:0;
	}

		#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products,
		#footer div.prediggo_reco_footer div.block_content ul.prediggo_products{

		}

			#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li,
			#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li,
			div.ac_results ul li.is_reco{
				float:left;
				margin: 10px;
			    padding: 10px;
			    width: 126px;
			    height:250px;
			}

			div.ac_results ul li{
				background-color:#FFF;
				border-bottom: 1px dotted #CCCCCC;
				padding:5px;
			}

				div.ac_results ul li a{
					color:#333;
				}

			div.ac_results ul li.is_reco{
				height: 200px;
				border:0;
			}

				#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li:hover,
				#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li:hover,
				div.ac_results ul li:hover{
					background:#f6f6f6;
				}

			#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li.separator,
			#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li.separator{
				border-left: 1px dotted #CCCCCC;
				width:1px;
				margin: 10px 0;
				padding:10px 0;

			}

				#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li a,
				#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li a,
				div.ac_results ul li.is_reco a{
					display:block;
				}

					#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li a img,
					#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li a img,
					div.ac_results ul li.is_reco a img{
						border-bottom: 1px dotted #CCCCCC;
					}

				#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li h5,
				#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li h5,
				div.ac_results ul li.is_reco h5{
				    height: 30px;
				    padding-top: 5px;
				    text-decoration:none;
				}

					#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li h5 a,
					#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li h5 a,
					div.ac_results ul li.is_reco h5 a{
						color: #333;
				    	font-size: 12px;
					}


				#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li div.product_desc,
				#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li div.product_desc,
				div.ac_results ul li.is_reco div.product_desc{
				    color: #666666;
				    font-size: 9px;
				    height: 50px;
				    text-align:justify;
				}

				#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li div.price_container,
				#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li div.price_container,
				div.ac_results ul li.is_reco div.price_container{

				}

					#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li div.price_container span.reduction,
					#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li div.price_container span.reduction,
					div.ac_results ul li.is_reco div.price_container span.reduction{
						color:#999;
					}

					#center_column div.prediggo_reco_blocklayered div.block_content ul.prediggo_products li div.price_container span.price,
					#footer div.prediggo_reco_footer div.block_content ul.prediggo_products li div.price_container span.price,
					div.ac_results ul li.is_reco div.price_container span.price{
						color:#900;
					}