.avalara-wrap { clear: both; margin: 0px auto; max-width: 1024px; min-width: 930px; overflow: hidden; }

p.avalara-intro { clear: both; color: #999999; font-size: 18px; line-height: 22px; margin: 0px 0px 0px 0px; padding: 20px 0px 0px 400px; overflow: hidden; }
a.avalara-logo { display: inline-block; float: left; margin: -20px 0px 0px -400px; }
p.avalara-intro a.avalara-link { float: right; margin: 4px 0px 0px 30px; }

.avalara-video { float: left; margin: 0px 0px 0px -400px; overflow: hidden; position: relative; width: 350px; }
.avalara-content { border-bottom: #FF9933 solid 1px; border-top: #FF9933 solid 1px; clear: both; margin: 20px 0px 15px 0px; padding: 15px 0px 15px 400px; overflow: hidden; }
.avalara-content h3 { color: #999999; font-size: 20px; font-weight: normal; line-height: 20px; margin: 0px 0px 15px 0px; }
.avalara-content p { color: #555555; font-size: 13px; line-height: 18px; margin-bottom: 15px; }

.avalara-content ul { list-style: none; margin: 0px 0px 15px 0px; padding: 0px; }
.avalara-content ul li { background: url(../img/bullet.gif) left 8px no-repeat; color: #999999; font-size: 15px; line-height: 24px; margin: 0px; padding: 0px 0px 0px 15px; }
img.avatax-badge { float: right; margin: 5px 40px 0px 0px; }

a.avalara-link {
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	padding: 6px 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #A95336;
	border: 1px solid #FF6633;
	-moz-border-radius:5px; border-radius:5px;
	background-color: #FF9933;
	background-image: linear-gradient(bottom, #FE8114 14%, #FF9933 57%, #FE8114 99%);
	background-image: -o-linear-gradient(bottom, #FE8114 14%, #FF9933 57%, #FE8114 99%);
	background-image: -moz-linear-gradient(bottom, #FE8114 14%, #FF9933 57%, #FE8114 99%);
	background-image: -webkit-linear-gradient(bottom, #FE8114 14%, #FF9933 57%, #FE8114 99%);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0.14, #FE8114), color-stop(0.57, #FF9933), color-stop(0.99, #FE8114));
}
a.avalara-link:hover {
	color: #FFF; text-decoration: none;
	text-shadow: 1px 1px 1px #A95336;
	background-color: #FF6633;
	background-image: none;
}

a.avalara-video-btn { display: block; height: 195px; position: relative; width: 360px; }
img.video-icon { position: absolute; left: 149px; top: 64px; }
.avatax-logo { margin-top: 35px;}

form { margin: 0px 0px 14px 0px;}
fieldset h4 { margin-top: 0px; }
label { width: 160px; }
.margin-form { padding-left: 175px; }
input[type="text"] { width: 200px; }
img.icon-connection { border-left: solid 1px #585A69; margin: 0px 2px 0px 20px; padding-left: 10px; vertical-align: middle; }
.right-fieldset { float: right; text-align: center; width: 245px; }
.right-fieldset p { text-align: left; }
.left-form { padding-right: 285px; }
.form-half { float: left; width: 50%; }
.MR7 { margin-right: 7px; }
.ML7 { margin-left: 7px; }
.sep { border-top: solid 1px #CCCED7; clear: both; height: 1px; margin: 0px 0px 10px 0px; }
.avalara-info { color: #7F7F7F; display: block; font-size: 0.85em; margin-bottom: 4px; }
.reset-label fieldset h4 { margin-bottom: 0px; }
.reset-label label { width: 300px; }
.reset-label .margin-form { padding-left: 310px; }

table.avalara-table { border: #CCCED7 solid 1px; background-color: #FFFFFF; color: #585A69; font-size: 12px; text-shadow: 0 1px 0 #FFFFFF; }
table.avalara-table th { background-color: #F7FBFF; border-bottom: #CCCED7 solid 1px; padding: 5px 25px 5px 8px; text-align: left; }
table.avalara-table td.avalaratax_column { font-weight: bold; }
table.avalara-table td { border-bottom: #CCCED7 solid 1px; padding: 5px 25px 5px 8px; }
table.avalara-table td.last { border-bottom: none; }