.process-icon-sceau {
	background-image: url('../img/sceauresend.png');
	background-repeat: no-repeat;
}
.process-icon-sceau_log {
	background-image: url('../img/arrow_down.png');
	background-repeat: no-repeat;
}


.bt_radio{
	vertical-align:middle; 
}

div.sceau_control {
	display: inline-block;
	position: relative;
	width: 50%;
	text-align: left;
	vertical-align: middle;
}