<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>ebay</name>
            <displayName><![CDATA[eBay]]></displayName>
            <version><![CDATA[1.3.6]]></version>
            <description><![CDATA[Depuis Prestashop exportez facilement vos produits sur eBay, la plus grande place de march&eacute;, pour conqu&eacute;rir une nouvelle client&egrave;le et vendre plus.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[market_place]]></tab>
	<confirmUninstall>Etes-vous sûr de vouloir désinstaller ce module? Toute votre configuration sera perdue.</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>