<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ebay</name>
	<displayName><![CDATA[eBay]]></displayName>
	<version><![CDATA[1.6.4]]></version>
	<description><![CDATA[Easily export your products from PrestaShop to eBay, the biggest market place, to acquire new customers and realize more sales.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[market_place]]></tab>
	<confirmUninstall>Are you sure you want to uninistall this module? All configuration settings will be lost</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>