<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>socolissimo</name>
            <displayName><![CDATA[So Colissimo]]></displayName>
            <version><![CDATA[2.8.7]]></version>
            <description><![CDATA[Proposez &agrave; vos clients 5 modes de livraison via La Poste.]]></description>
            <author><![CDATA[Quadra Informatique]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>fr</limited_countries>
        </module>