<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fianetfraud</name>
	<displayName><![CDATA[Fia-Net - Certissim]]></displayName>
	<version><![CDATA[3.7]]></version>
	<description><![CDATA[Protect your shop against payment frauds.]]></description>
	<author><![CDATA[Fia-Net]]></author>
	<tab><![CDATA[payment_security]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>