.pagination ul li.inactive,
.pagination ul li.inactive:hover{
	background-color:#ededed;
	color:#bababa;
	border:1px solid #bababa;
	cursor: default;
}

.pagination{
	width: 620px;
	height: 25px;
	margin:0 auto;
}
.pagination ul li{
	list-style: none;
	float: left;
	border: 1px solid #000;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	background-color: #f2f2f2;
}
.pagination ul li:hover{
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

.toolTip {
	background: url("../img/help.gif") no-repeat scroll right center transparent;
	color: #3366FF;
	cursor: help;
	padding-right: 20px;
	position: relative;
}

#tipkk {
	position:absolute; z-index:999; opacity:0.8; background:#000000; border:1px solid #000; max-width:500px; padding:10px; color:#fff;
}

ul.listt {text-align:justify; margin:8px 0px 8px 0px;list-style:none; padding:0px;}
ul.listt li:before{ content:"-"; position:relative; left:-2px;}
ul.listt li{ text-indent:-5px; padding:5px 0px 5px 10px;}

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important;  }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { width:98%; cursor:default; display:block; border:1px solid transparent; padding:3px 1px; text-align:left; }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
.tipTd img{background:none; cursor:pointer}
