<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>secuvad</name>
	<displayName><![CDATA[Secuvad module]]></displayName>
	<version><![CDATA[2.1.0]]></version>
	<description><![CDATA[Avec SECUVAD pour moins d&rsquo;1% de votre CA, garantissez 100% de son encaissement en France et &agrave; l&rsquo;International et d&eacute;veloppez votre activit&eacute; commerciale en toute s&eacute;r&eacute;nit&eacute;. ]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payment_security]]></tab>
	<confirmUninstall>Are you sure you want to delete this module?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>