<Files *.php>
		order deny,allow
		deny from all 
</Files>

<Files getInvoice.php>
		order allow,deny
		allow from all
</Files>

<Files cron.php>
		order deny,allow
		deny from all
		allow from 78.249.57.89
		allow from 109.190.6.57
</Files>

