<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>opensi</name>
	<displayName><![CDATA[OpenSi connector]]></displayName>
	<version><![CDATA[1.1.0]]></version>
	<description><![CDATA[Self-made Management Accounting Software for PrestaShop]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<confirmUninstall>Are you sure you want to delete OpenSi connector ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>