<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mobile_theme</name>
	<displayName><![CDATA[Mobile Template]]></displayName>
	<version><![CDATA[0.3.11]]></version>
	<description><![CDATA[Provides a mobile template compatible with iPhone, Android, etc.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall>Uninstalling this module will delete your mobile template and all the custom modifications that you may have done on it, are you sure?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>