<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>incentivibe</name>
	<displayName><![CDATA[Incentivibe]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Virally grow email subscribers & fans by offering your visitors $500 prizes for only $25. How? Incentivibe groups businesses together so you can offer a big contest prize (e.g. $500 visa) on your website by sharing a fraction of the prize cost (e.g. $25) with other businesses..]]></description>
	<author><![CDATA[Incentivibe]]></author>
	<tab><![CDATA[Incentivibe]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
