<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fianetsceau</name>
	<displayName><![CDATA[Fia-Net - Sceau de Confiance]]></displayName>
	<version><![CDATA[2.4]]></version>
	<description><![CDATA[Turn your visitors into buyers by creating confidence in your site.]]></description>
	<author><![CDATA[Fia-Net]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
