<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>ferbuy</name>
	<display_name><![CDATA[FerBuy]]></display_name>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Accepts payments with FerBuy.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirm_uninstall><![CDATA[Are you sure you want to delete your details?]]></confirm_uninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>