<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>kwixo</name>
            <displayName><![CDATA[Kwixo]]></displayName>
            <version><![CDATA[6.3]]></version>
            <description><![CDATA[Accepte les paiements par &amp;quot;Kwixo&amp;quot;]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>
