<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>adyen</name>
  <displayName><![CDATA[Adyen]]></displayName>
  <version><![CDATA[2.2]]></version>
  <description><![CDATA[Accepts payments by Adyen&#039;s Hosted Payment Page.]]></description>
  <author><![CDATA[Adyen]]></author>
  <tab><![CDATA[payments_gateways]]></tab>
  <confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
  <is_configurable>1</is_configurable>
  <need_instance>1</need_instance>
  <limited_countries></limited_countries>
</module>
