<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ecopresto</name>
	<displayName><![CDATA[Drop shipping - Ecopresto]]></displayName>
	<version><![CDATA[2.4]]></version>
	<description><![CDATA[Importer vos produits en Drop shipping avec Ecopresto]]></description>
	<author><![CDATA[Ether Cr&eacute;ation]]></author>
	<tab><![CDATA[Tools]]></tab>
	<confirmUninstall>Etes vous sur de vouloir désinstaller le module ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
