.bshp-add-parcel,
.bshp-remove-parcel {
  margin: 10px 0;
}

.bshp-product-table td {
  height: 50px;
  vertical-align: center;
  padding: 5px;
}

.bshp-product-table th {
  height: 25px;
  vertical-align: center;
  padding: 5px;
  font-weight: bold;
  text-align: left;
}

.bshp-product-table td.bshp-pimage {
  width: 50px;
  text-align: center;
}

.bshp-product-table td.bshp-pname {
  width: 390px;
}

.bshp-product-table td.bshp-pparcel,
.bshp-product-table td.bshp-partno {
  width: 120px;
}

.bshp-product-table {
  font-size: 16px;
}

.bshp-product-table select {
  width: 120px;
  height: 30px;
  font-size: 14px;
}


.bshp-product-table {
  border-collapse: collapse;
}

.bshp-product-table tr {
  border-bottom: 1px dotted #000000;
}

.bshp-product-table tr:last-child {
  border-bottom: none;
}

.bshp-parcels-wrapper {
  width: 170px;
}

.bshp-parcel {
  width: 150px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px dotted #000000;
  background-color: #F6F6F6;
}

.bshp-parcel-img {
  width: 40px;
  text-align: center;
  position: relative;
}

.bshp-parcel-img span {
  color: #ff0000;
  display: block;
  font-size: 14px;
  font-weight: bold;
  left: 16px;
  position: absolute;
  top: 10px;
}

.bshp-parcel-desc {
  width: 90px;
  padding: 2px 8px;
}

.bshp-form-icon {
  width: 16px;
  height: 16px;
}

.bshp-pointer {
  cursor: pointer;
}

.bshp-clr {
  clear: both;
}

.bshp-hidden {
  display: none;
}

.bshp-fl {
  float: left;
}

.bshp-fr {
  float: right;
}

.bshp-bordered {
  border: 1px solid #999999;
  background-color: #ecedef;
}

.bshp-centered {
  align: center;
  text-align: center;
}

.bshp-leftaligned {
  align: left;
  text-align: left;
}

.bshp-padded-box {
  padding: 10px;
}

.bshp-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bshp-layer {
  background-color: #000000;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.bshp-modal {
  background-color: #ffffff;
  left: 25px;
  position: fixed;
  top: 25px;
  z-index: 10000;
  padding: 10px;
  overflow: auto;
}

.bshp-close {
  cursor: pointer;
  position: fixed;
  right: 8px;
  top: 8px;
  z-index: 10001;
}

#ajax_confirmation {
  z-index: 10030;
  position: fixed;
}

.bshp-error-border {
  border: 1px solid #ff0000 !important;
}

.bshp-size-48 {
  width: 48%;
}

.bshp-size-530 {
  width: 530px;
}

.bshp-list {
  list-style: disc !important;
  margin: 13px 0 !important;
  padding: 0 40px !important;
}

h3 span.bshp-normal {
  font-weight: normal;
}

span.bshp-normal img {
  margin-right: 5px;
}