<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[{shop_name}] Problème commande eBay dans PrestaShop</title>
</head>
<body>
	<p style="line-height: 17px;"><a title="{shop_name}" href="{shop_url}"><img style="border: none;" src="{shop_logo}" alt="{shop_name}" /></a><br /><br /> 
		Bonjour, <br/><bn/>
		Une commande de {cart_qty} {name_product} a été passée sur votre boutique eBay<br/>
		Cependant ce produit à une quantité d'achat minimale qui vaut {min_qty}.

		Vous pouvez modifier cette quantité minimum dans la fiche du produit, pour pouvoir récupérer la commande dans PrestaShop.
		<br/><br/>
	</p>

<p style="width: 100%; text-align: center;"><a style="color: #db3484; font-weight: bold; text-decoration: none;" href="{shop_url}">{shop_name}</a> propuls&eacute; avec <a style="text-decoration: none; color: #374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></p>
</body>
</html>