@font-face{font-family:"AvenirNext";src:url("https://c012c2b5f0f6730b141f-e5a1fe916e57fe43deb1fd64fc6e24c8.ssl.cf2.rackcdn.com/webfonts/avenir/ultraLight.eot?#iefix");src:url("https://c012c2b5f0f6730b141f-e5a1fe916e57fe43deb1fd64fc6e24c8.ssl.cf2.rackcdn.com/webfonts/avenir/ultraLight.eot?#iefix") format("eot"),url("https://c012c2b5f0f6730b141f-e5a1fe916e57fe43deb1fd64fc6e24c8.ssl.cf2.rackcdn.com/webfonts/avenir/ultraLight.woff") format("woff"),url("https://c012c2b5f0f6730b141f-e5a1fe916e57fe43deb1fd64fc6e24c8.ssl.cf2.rackcdn.com/webfonts/avenir/ultraLight.ttf") format("truetype"),url("https://c012c2b5f0f6730b141f-e5a1fe916e57fe43deb1fd64fc6e24c8.ssl.cf2.rackcdn.com/webfonts/avenir/ultraLight.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");font-weight:300;font-style:normal}

.browsi-wrap {
    max-width: 1000px;
    margin: 0 auto;
}
.br-content { padding: 2em 3em; }

.br-header {
    position: relative;
    height: 385px;
    margin: 2em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #EAF5FF;
    border: 1px solid #b6d2eb;
    border-bottom-color: #4681b8;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    font-size: 20px;
    color: #474747;
}
.br-header * { font-family: AvenirNext, HelveticaNeue-Regular, sans-serif; }

.br-logo {
    width: 104px;
    height: 28px;
    margin-bottom: 1em;
    text-indent: -999em;
    overflow: hidden;
    background: url(../img/logo.png);
}
.br-tagline {
    max-width: 25em;
}
.br-device {
    position: absolute;
    right: 2em;
    bottom: -1px;
    width: 272px;
    height: 409px;
    background: url(../img/device.png);
    z-index: 1;
}
.br-button {
    display: inline-block;
    margin: .5em 0;
    background-color: #ec5344;
    font-size: .9em;
    padding: 0.7em 1.3em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    border-radius: 50px;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(255,255,255,0.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    box-shadow: inset 1px 0 0 rgba(0,0,0F,0.2),inset -1px 0 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(0,0,0,0.2),inset 0 -1px 0 rgba(0,0,0,0.2),inset 0 -3px 1px rgba(0,0,0,0.2),inset 0 -4px 0px rgba(255,255,255,0.15),inset 0 0 3px #fff,1px 2px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.2),inset -1px 0 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(0,0,0,0.2),inset 0 -1px 0 rgba(0,0,0,0.2),inset 0 -3px 1px rgba(0,0,0,0.2),inset 0 -4px 0px rgba(255,255,255,0.15),inset 0 0 3px #fff,1px 2px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.4s ease-in-out;
    -webkit-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;
}
.br-button:focus,
.br-button:hover {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.2)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);
    background-image: linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);
}
.br-button:active {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(255,255,255,0.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%);
}

.br-features {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #468DD5;
    padding: 1em 3em;
}
.br-features-list { width: 670px; }
.br-feature {
    color: #fff;
    font-size: 0.8em;
}
.br-feature:first-child { margin-bottom: 1em; }
.br-col,
.br-i,
.br-li-caption {
    display: inline-block;
    vertical-align: top;
    
}
.br-col { width: 29%; } 
.br-col:not(:first-child) { margin-left: 1%; }
.br-i {
    width: 20px;
    height: 20px;
    background: url(../img/features.png) no-repeat;
}
.br-li-caption {
    width: 82%;
    margin-left: 5%
}
.br-i-cloud { background-position: -20px 0; }
.br-i-share { background-position: -40px 0; }
.br-i-push { background-position: -60px 0; }
.br-i-customizability { background-position: -80px 0; }
.br-i-analytics { background-position: -100px 0; }

/* Form */
.br-form-col {
    width: 48%;
    padding: 1em 2em;
    margin: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.br-form-col h4 { margin: 0 0 1em; }
.br-steps-list { padding-left: 1.5em; }
.br-steps-list li {
    list-style: decimal;
}
.br-fieldset a {
    text-decoration: underline;
}
.br-fieldset {
    padding: 0;
}
.br-sep { border-left: 1px solid rgba(0,0,0,0.2); }
