<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>realexredirect</name>
	<displayName><![CDATA[Realex Payments]]></displayName>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Use Realex Payments as your payments service provider.]]></description>
	<author><![CDATA[Coccinet]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete this information?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
