<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>trustly</name>
	<displayName><![CDATA[Trustly]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Allow your customers to pay from their online bank account directly in your web-shop. The only payment method in Spain with 90% bank coverage.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>es</limited_countries>
</module>
