.y-settings-white-box {
	width: 650px;
	color: #8A8A8A;
	background-color: white;
	border: 1px solid #D4D2D2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 8px -3px black;
	-moz-box-shadow: 0px 1px 8px -3px black;
	box-shadow: 0px 1px 8px -3px black;
	padding-bottom: 40px;
	margin: 0 auto;	
}

.y-code {
	font-family: courier,monospace;
	font-weight: lighter;
	background: rgb(236, 236, 236);
	padding: 15px;
	font-style: italic;
	border: 1px solid rgb(206, 206, 206);
}

.y-settings-title{
	line-height: 20px;
	color: #8A8A8A;
	background-color: white;
	margin: 0 auto;
	font-size: 14px;
	padding: 13px 13px 13px 13px;
	
}

.y-href {
	color: #3293D6;
	text-decoration: underline;
	font-size: 17px;
}

.y-wrapper {
	width: 680px;
	margin: 0 auto;
	min-height: 530px;
}
.y-white-box {
	width: 60%;
	float: left;
	color: #8A8A8A;
	background-color: white;
	border: 1px solid #D4D2D2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 8px -3px black;
	-moz-box-shadow: 0px 1px 8px -3px black;
	box-shadow: 0px 1px 8px -3px black;
	padding-bottom: 40px;
	margin: 0 auto;	
}

.y-logo {
	display: block;
	background: url('../img/spriteSheet.png') -14px -10px;
	width: 40px;
	height: 32px;
	float: left;
	padding-right: 10px;
}
.y-side-box {
	width: 36%;
	float: right;
}

.y-already-logged-in {
	color: #3293D6;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}
.y-side-header {
	font-size: 14px;
	line-height: 20px;
	font-weight: lighter;
	margin-bottom: 15px;
	background: url('../img/line.png') repeat-x bottom;
}

.y-page-header {
	background: grey;
	max-height: 50px;
	color: white;
	max-width: 100%;
	padding: 28px 36px;
	font-size: 24px;
}

#y-fieldset {
	padding: 20px 40px 0 40px;
	background: white;
	border: none;
	max-width: 100%;
}

.y-label {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 6px;
	color: #8A8A8A;
}

.y-submit-btn {
	margin-left: 5px;
	padding: 4px 12px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #509FD1;
	border-left: none;
	font-weight: lighter;
	background: #3F79A3;
	background: -webkit-gradient(linear, left top, left bottom, from(#4482AF), to(#3F79A3));
	background: -webkit-linear-gradient(top, #4482AF, #3F79A3);
	background: -moz-linear-gradient(top, #4482AF, #3F79A3);
	background: -ms-linear-gradient(top, #4482AF, #3F79A3);
	background: -o-linear-gradient(top, #4482AF, #3F79A3);
	color: white;
	float: right;
}

.y-submit-btn:hover {
	text-decoration: none;
	background: #1F6393;
}

.y-normal-btn {
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #BBB;
	border-bottom-color: #A2A2A2;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.y-normal-btn:hover {
	color: #333;
	text-decoration: none;
	background: whiteSmoke;
}

.y-side-icon {
    display: inline-block;
    height: 28px;
    padding-right: 2px;
    vertical-align: middle;
    width: 28px;
}

.y-features-list { font-weight: bold; }
.y-header { font-size: 17px; }
.y-footer { padding:20px 30px; }
.y-input, .y-input input { width: 100%; }
.conversation-rate { background: url('../img/spriteSheet.png') no-repeat  -189px -48px; }
.multi-languages { background: url('../img/spriteSheet.png') no-repeat  -189px -83px; }
.forever-free { background: url('../img/spriteSheet.png') no-repeat  -189px -119px; }
.social-engagement { background: url('../img/spriteSheet.png') no-repeat  -189px -188px; }
.plug-play { background: url('../img/spriteSheet.png') no-repeat  -189px -222px; }
.full-customization { background: url('../img/spriteSheet.png') no-repeat  -189px -259px; }
.analytics { background: url('../img/spriteSheet.png') no-repeat  -189px -154px; }
.seo { background: url('../img/spriteSheet.png') no-repeat  -189px -293px; }