<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>autoupgrade</name>
	<displayName><![CDATA[1-click Upgrade]]></displayName>
	<version><![CDATA[1.0.25]]></version>
	<description><![CDATA[Provides an automated method to upgrade your shop to the last PrestaShop version. Caution : This module requires right of writing in your prestashop directory. Custom theme are not updated.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
