<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>shoppingfeedexport</name>
            <displayName><![CDATA[Export Shopping Feed]]></displayName>
            <version><![CDATA[2.0.2]]></version>
            <description><![CDATA[Exportez vos produits vers plus de 100 comparateurs de prix et places de march&eacute;]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[smart_shopping]]></tab>
	<confirmUninstall>Êtes-vous sûr de vouloir supprimer ce module ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>fr</limited_countries>
        </module>