<IfModule mod_rewrite.c>
	RewriteEngine on
	
	<IfModule !mod_php.c>
		# gcheckout fastCGI compatibility
		RewriteCond %{HTTP:Authorization} !^$
		RewriteRule ^validation.php$ validation.php?login=%{HTTP:Authorization} [QSA,L]
		# end gcheckout fastCGI compatibility
	</IfModule>

</IfModule>
