.process-icon-cert1 {
  background-image: url('../img/certissim-wait.png');
  background-repeat: no-repeat;
}
.process-icon-cert2 {
  background-image: url('../img/certissim-reeval.png');
  background-repeat: no-repeat;
}


div#header_certissim {
  width: 100%;
}
div#header_certissim div.certissim_control {
  display: inline-block;
  width: 50%;
  text-align: center;
}
div#header_certissim div.certissim_control img {
  margin: auto 8px;
}