div.payment_module.module_syspay {
    background: #FBFBFB url('../img/button.png') no-repeat 15px 25px;
    display: block;
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 23px;
    color: #333333;
    font-weight: bold;
    padding: 0px 0px 0px 225px;
    letter-spacing: -1px;
    position: relative;
    height: 110px;
}

div.payment_module.module_syspay .checker {
    display: inline-block;
}


