.aewrapper {
	width: 60%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.aeblock {
	background-color: #fafafa;
	margin-left: 5%;
	width: 292px;
	padding-top: 10px;
	height: 230px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	font-size: 1.9em;
}

#childToogle {
	display: none;
	background-color: #fafafa;
	color: #585A69;
	font-weight: bold;
}

.aedarkblue {
	color: #1f497d;
	height: 95px;
}

.aemodule-description object {
	margin-left: 45px;
	margin-top: 10px;
}

.aemodule-text-content {
	float: left;
	margin-top: 20px;
	width: 50%;
	margin-left: 0px;
}