<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>seur</name>
	<displayName><![CDATA[SEUR]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Manage your shipments with SEUR. Leader in the Express Shipping, National or International.]]></description>
	<author><![CDATA[www.lineagrafica.es]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>