.klarna_PPBox
{
    float: right;
    font-size: 11px;
    height: 81px;
    margin-bottom: 1em;
    max-width: 100%;
    text-align: right;
}

.klarna_PPBox .klarna_PPBox_inner
{
    float: right;
    min-width: 160px;
    width: 100%;
}

.klarna_PPBox .klarna_PPBox_top
{
    cursor: pointer;
    float: right;
    height: 35px;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

.klarna_PPBox_pull_img
{
    background-image:url("../img/pullUp.png");
    width:14px;
    height:10px;
    display:inline-block
}
.klarna_PPBox_pullDown_img
{
    background-image:url("../img/pullDown.png");
    width:14px;
    height:10px;
    display:inline-block
}
.klarna_PPBox .klarna_PPBox_topLeft
{
    background-image:url("../img/backTop_left.png")
}
.klarna_PPBox .klarna_PPBox_topRight
{
    background-image:url("../img/backTop_right.png")
}
.klarna_PPBox .klarna_PPBox_topMid
{
    background-image:url("../img/backTop_mid.png")
}
.klarna_PPBox .klarna_PPBox_bottomMid
{
    background-image:url("../img/backBottom_mid.png")
}

.klarna_PPBox .klarna_PPBox_topLeft
{
    background-repeat: no-repeat;
    float: left;
    height: 35px;
    width: 32px;
}

.klarna_PPBox .klarna_PPBox_topMid
{
    background-repeat: repeat-x;
    cursor: pointer;
    height: 35px;
    margin-left: 32px;
    margin-right: 6px;
}

.klarna_PPBox .klarna_PPBox_topRight
{
    background-repeat: no-repeat;
    float: right;
    height: 35px;
    width: 6px;
}

.klarna_PPBox .klarna_PPBox_topMid span
{
    float: right;
    margin: 10px 0 0 !important;
    text-align: center;
    width: 100%;
}

.klarna_PPBox .klarna_PPBox_topMid span label
{
    color: #009EDA;
    cursor: pointer;
    float: none;
    padding: 0 2px;
}

.klarna_PPBox .klarna_PPBox_bottom
{
    clear: both;
    float: right;
    height: 1px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.klarna_PPBox .klarna_PPBox_bottomMid
{
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #FFFFFF;
    display: none;
    float: right;
    margin-top: -2px;
    max-height: 170px;
    overflow: auto;
    padding-top: 5px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.klarna_PPBox .klarna_PPBox_bottomMid table
{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.klarna_PPBox .klarna_PPBox_bottomMid table th {
    border-bottom: 1px solid #FFFFFF;
}
.klarna_column_left {
    padding-left: 2px !important;
    text-align: left !important;
}

.klarna_column_right {
    padding-right: 2px !important;
    text-align: right !important;
}

.klarna_PPBox_bottomMid table td {
    border: medium none !important;
    padding: 0 2px;
}

.klarna_PPBox .klarna_PPBox_pricetag {
    color: #009EDA;
}

.klarna_PPBox .klarna_PPBox_bottomMid_readMore {
    margin-top: 10px;
    text-align: center !important;
}

.klarna_PPBox .klarna_PPBox_bottomMid_readMore a {
    color: #FFFFFF;
    text-decoration: underline;
    width: 100%;
}

.klarna_PPBox .klarna_PPBox_pull
{
    cursor: pointer;
    float: right;
    height: 20px;
    margin-top: 4px;
    position: static;
    text-align: center !important;
    width: 100%;
}

