.klarna-wrapper { clear: both; margin: 0px auto; padding-top: 15px; width: 1024px; }
.L { float: left; }
.R { float: right; }
a.klarna-logo { display: inline-block; float: left; margin: 0px 90px 20px 0px; }
p.klarna-intro { color: #0089CF; font-size: 28px; font-weight: lighter; line-height: 38px; margin: 0px; padding: 25px 0px 0px 0px; overflow: hidden; }
p.klarna-intro a.klarna-btn { margin-top: 4px; }
a.klarna-btn { color: #FFF; float: right; font-size: 14px; letter-spacing: 1px; text-align: center; text-decoration: none; vertical-align: middle; }
a.klarna-btn:hover { color: #FFF; text-decoration: none; }
a.klarna-btn {
	line-height: normal; display: inline-block; outline: none; vertical-align: top; border-radius: 2px; padding: 6px 20px 7px 20px; min-width: 100px; cursor: pointer; border: 1px solid #005b8a; -webkit-border-radius: 20px; border-radius:20px;
	background: #009cd7; background: -moz-linear-gradient(top,#009cd7 1%,#0071c0 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#009cd7),color-stop(100%,#0071c0)); background: -webkit-linear-gradient(top,#009cd7 1%,#0071c0 100%);
	background: -o-linear-gradient(top,#009cd7 1%,#0071c0 100%); background:-ms-linear-gradient(top,#009cd7 1%,#0071c0 100%); background: linear-gradient(to bottom,#009cd7 1%,#0071c0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cd7',endColorstr='#0071c0',GradientType=0);
}
a.klarna-btn:hover {
	background: #00addf; background: -moz-linear-gradient(top,#00addf 1%,#0088cc 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#00addf),color-stop(100%,#0088cc)); background: -webkit-linear-gradient(top,#00addf 1%,#0088cc 100%);
	background: -o-linear-gradient(top,#00addf 1%,#0088cc 100%);background:-ms-linear-gradient(top,#00addf 1%,#0088cc 100%); background: linear-gradient(to bottom,#00addf 1%,#0088cc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00addf',endColorstr='#0088cc',GradientType=0);
}
a.klarna-btn:active {
	background: #0078b6; background: -moz-linear-gradient(top,#0078b6 1%,#0088cd 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#0078b6),color-stop(100%,#0088cd)); background: -webkit-linear-gradient(top,#0078b6 1%,#0088cd 100%);
	background: -o-linear-gradient(top,#0078b6 1%,#0088cd 100%);background:-ms-linear-gradient(top,#0078b6 1%,#0088cd 100%); background: linear-gradient(to bottom,#0078b6 1%,#0088cd 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078b6',endColorstr='#0088cd',GradientType=0);
}

.klarna-content { border: #E1E1E1 solid 1px; clear: both; margin: 0px 0px 15px 0px; padding: 15px; overflow: hidden; box-shadow: 0 0 4px #CCCCCC; -webkit-box-shadow: 0 0 4px #CCCCCC; -moz-box-shadow:  0 0 4px #CCCCCC; }
.klarna-leftCol { margin: 0px 398px 0px 0px; min-width: 500px; overflow: hidden; }
.klarna-video { float: right; margin: 0px; width: 360px; overflow: hidden; }

.klarna-content h3 { color: #0089CF; font-size: 18px; font-weight: normal; line-height: 20px; letter-spacing: 1px; margin: 0px 0px 15px 0px; padding: 0px; }
.klarna-content p, .klarna-content ul li { color: #31393E; font-size: 14px; line-height: 19px; margin-bottom: 5px; }
.klarna-content ul { list-style: none; margin: 0px 0px 20px 0px; padding: 0px; }
.klarna-content ul li { background: url(../img/checkmark-blue.png) left 3px no-repeat; margin-bottom: 10px; padding: 0px 0px 0px 15px; }
.klarna-content a.klarna-btn { margin-top: -7px; }

a.klarna-video-btn { border: #E1E1E1 solid 1px; display: block; height: 200px; margin: 5px; position: relative; width: 348px; box-shadow: 0 0 4px #CCCCCC; -webkit-box-shadow: 0 0 4px #CCCCCC; -moz-box-shadow:  0 0 4px #CCCCCC; }
a.klarna-video-btn:hover { border: #CCCCCC solid 1px; box-shadow: 0 0 4px #A9A9A9; -webkit-box-shadow: 0 0 4px #A9A9A9; -moz-box-shadow:  0 0 4px #A9A9A9; height: 200px; }
img.video-icon { position: absolute; left: 140px; top: 66px; }

fieldset h4 { margin-top: 0px; }
fieldset label { clear: left; }
#menuTab {padding: 0; margin: 0; text-align: left; }
#menuTab li { text-align: left; float: left; display: inline; padding: 5px; padding-right: 10px; background: #EFEFEF; font-weight: bold; cursor: pointer; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-left:5px; height:14px; }
#menuTab li img { margin-right: 4px; margin-top: -2px; width: 16px; }
#menuTab li.menuTabButton.selected { background: #FFFFF0; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-bottom: -1px; padding-bottom: 6px; }
#tabList { clear: left; }
.tabItem { display: none; }
.tabItem.selected { display: block; background: #FFFFF0; border: 1px solid #CCCCCC; padding: 10px; }

.klarna-blockSmall { min-height: 82px; margin-bottom: 10px; width: 46.5%; }
.klarna-blockSmall label { color: #585A69; float: none; font-weight: normal; margin-right: 15px; padding: 0px; text-shadow: 0 1px 0 #FFFFFF; width: auto; }
.klarna-blockSmall input[type="radio"] { margin-top: -2px; }
.klarna-blockSmall input[type="checkbox"] { margin-top: -4px; }
.klarna-blockSmall p { margin-top: 0px; }
.klarna-blockSmall p.last { padding-bottom: 0px; }
.klarna-blockSmall small, small.footnote { color: #7F7F7F; display: inline-block; padding: 3px 0px 0px 17px; }
small.footnote { padding: 7px 0px 0px 5px; }

.button { margin: 0px auto; }
.button:hover { cursor: pointer; }  

.klarna_list_click_country {
	background-color: #F8F8F8; border: 1px solid #CCCCCC; list-style: none; overflow: hidden; padding: 0px;
	-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px;
}
.klarna_list_click_country li { background-color: #F8F8F8; text-align: left; float: left; display: inline; padding: 5px 0px 5px 8px; font-weight: bold; border-right: 1px solid #CCCCCC; margin: 0px; min-width: 120px; }
.klarna_list_click_country li img { margin-right: 4px; margin-top: -2px; vertical-align: middle; }
.klarna_list_click_country li:hover { background-color: #FFFFFF; cursor: pointer; }
.klarna_list_country {
	background-color: #FFFFFF; border: 1px solid #CCCCCC; border-top: none; clear: both; list-style: none; margin: 0px; overflow: hidden; padding: 10px 0px 0px 11px;
	-webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
}
.klarna_list_country li { display: inline; float:left; }
.klarna_list_country li fieldset { font-size: inherit; margin: 0px 10px 10px 0px; padding: 0; width: 308px; height: 155px; }
.klarna_list_country li fieldset p.title { background-color: #F7FBFF; border-bottom: 1px solid #CCCCCC; letter-spacing: 1px; margin: 0px 0px 1px 0px; padding: 2px 0px 3px 5px; }
.klarna_list_country li fieldset p.title img { margin: -2px 4px 0px 0px; vertical-align: middle; }
.klarna_list_country li fieldset .fieldset-wrap { padding: 5px 5px 1px 5px; width: 298px; }
.klarna_list_country .input-row  { margin-bottom: 4px; overflow: hidden; padding-left: 150px; }
.klarna_list_country .input-row span { display: block; float: left; margin: 2px 0px 0px -150px; text-align: right; text-shadow: 0 1px 0 #FFFFFF; width: 140px; }
.klarna_list_country input { float: right; width: 140px; }
.klarna_list_country select { float: right; width: 150px; }

.klarna-wrapper .table { border-bottom: none; margin-bottom: 0px; }
.klarna-wrapper .table th { border-bottom: #CCCCCC solid 1px; }

#content .conf, #content .error { margin: 0px auto; width: 974px; }
