.toolbar-placeholder {position:relative}
.toolbar-placeholder .toolbarBox {background-color: #F8F8F8; border: 1px solid #CCCCCC; margin-bottom:10px; padding: 5px 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;-o-border-radius:3px;position:relative}
.toolbar-placeholder .toolbarBox .pageTitle { margin-left:10px; line-height:48px}
.toolbar-placeholder .toolbarBox .pageTitle h3 {font-size: 1.6em; font-weight: normal; line-height: 52px; margin: 0; padding: 0; text-shadow:0 1px 0 #fff;}
.toolbar-placeholder .toolbarBox ul.cc_button {float:right;margin:0 5px 0 0;padding:0;}
.toolbar-placeholder .toolbarBox ul.cc_button li {color: #666666; float: left; height: 48px; list-style: none outside none; padding: 1px 1px 3px 4px; text-align: center;}
.toolbar-placeholder .toolbarBox a.toolbar_btn {   border:1px solid #f8f8f8; min-width:50px; border-width: 1px; font-size:11px;cursor: pointer; display: block; float: left; padding: 3px 5px; white-space: nowrap; text-shadow: 0 1px 0 #ffffff;}
.toolbar-placeholder .toolbarBox a.toolbar_btn:hover { background-color:#fff; border:1px inset #ccc; border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;-o-border-radius:3px;}
.toolbar-placeholder .toolbarBox .toolbar_btn span{ display: block;float: none;height: 32px;margin: 0 auto;width: 32px; /*hacking ie7*/ margin:0 !ie; position:relative !ie;}
.toolbar-placeholder .toolbarBox .process-icon-delete { background-image: url('../img/process-icon-delete.png');}
.toolbar-placeholder .toolbarBox .process-icon-duplicate { background-image: url('../img/process-icon-duplicate.png');}
.toolbar-placeholder .toolbarBox .process-icon-preview { background-image: url('../img/process-icon-preview.png');}
.toolbar-placeholder .toolbarBox .process-icon-stats { background-image: url('../img/process-icon-stats.png');}
.toolbar-placeholder .toolbarBox .process-icon-cancel, .toolbarBox .toolbar-cancel { background-image: url('../img/process-icon-cancel.png');}
.toolbar-placeholder .toolbarBox .process-icon-new, .toolbarBox .toolbar-new{ background-image: url('../img/process-icon-new.png');}
.toolbar-placeholder .toolbarBox .process-icon-save { background-image: url('../img/process-icon-save.png');}
.toolbar-placeholder .toolbarBox .process-icon-save-and-stay { background-image: url('../img/process-icon-save-and-stay.png');}
.toolbar-placeholder .toolbarBox .process-icon-edit { background-image: url('../img/process-icon-edit.png');}
.toolbar-placeholder .toolbarBox .process-icon-back { background-image: url('../img/process-icon-back.png');}
.toolbar-placeholder .toolbarBox .process-icon-refresh-index  { background-image: url('../img/process-icon-refresh-index.png');}
.toolbar-placeholder .toolbarBox .process-icon-refresh-cache  { background-image: url('../img/process-icon-refresh-cache.png');}
.toolbar-placeholder .toolbarBox .process-icon-save-calendar { background-image: url('../img/process-icon-save-calendar.png');}
.toolbar-placeholder .toolbarBox .process-icon-new-module { background-image: url('../img/process-icon-new-module.png');}
.toolbar-placeholder .toolbarBox .process-icon-new-url { background-image: url('../img/process-icon-new-url.png');}
.toolbar-placeholder .toolbarBox .process-icon-new-module-addon { background-image: url('../img/process-icon-new-module-addon.png');}
.toolbar-placeholder .toolbarBox .process-icon-save-and-preview { background-image: url('../img/process-icon-preview.png');}
.toolbar-placeholder .toolbarBox .process-icon-import { background-image: url('../img/process-icon-export-csv.png');}
.toolbar-placeholder .toolbarBox .process-icon-export { background-image: url('../img/process-icon-export-csv.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-all { background-image: url('../img/process-icon-export-csv-details.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-stock-state-quantities-csv { background-image: url('../img/process-icon-export-csv.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-stock-state-prices-csv { background-image: url('../img/process-icon-export-csv-details.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-csv-orders { background-image: url('../img/process-icon-export-csv.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-csv-details { background-image: url('../img/process-icon-export-csv-details.png');}
.toolbar-placeholder .toolbarBox .process-icon-export-stock-mvt-csv { background-image: url('../img/process-icon-export-csv.png');}
.toolbar-placeholder .toolbarBox .process-icon-newAttributes, .toolbarBox .toolbar-new{ background-image: url('../img/process-icon-new.png');}
.toolbar-placeholder .toolbarBox .process-icon-new.add_product{ background-image: url('../img/process-icon-addProduct.png');}
.toolbar-placeholder .toolbarBox .process-icon-partialRefund{ background-image: url('../img/process-icon-partial-refund.png');}
.toolbar-placeholder .toolbarBox .process-icon-standardRefund{ background-image: url('../img/process-icon-standard-refund.png');}
.toolbar-placeholder .toolbarBox .process-icon-help{ background-image: url('../img/process-icon-help.png');}
.toolbar-placeholder .toolbarBox .process-icon-help-new{ background-image: url('../img/process-icon-help-new.png');}
.toolbar-placeholder .toolbarBox .process-icon-modules-list{ background-image: url('../img/process-icon-modules-list.png');}

.toolbarReduced {margin-right:221px}
#modules_list_button {width:211px;height:63px;border:none;position:absolute;top:0;right:0;background-image:url('../img/modules_list_button.png');font-size: 1.6em;cursor:pointer;padding-left:45px}

.toolbarBox #modules_list_container {
	background: none repeat scroll 0 0 #FFF;
	border: solid 1px #CCC;
	display: block;
	float: right;
	height: auto;
	width: 500px;
	position: absolute;
	right: 13px;
	top: 63px;
	z-index: 100;
	box-shadow: 1px 5px 5px #CCCCCC;
	-moz-box-shadow: 1px 5px 10px #CCCCCC;
	-webkit-box-shadow: 1px 5px 10px #CCCCCC;
	opacity: 1;

}
.toolbarBox #modules_list_container #modules_list_container_content
{
	max-height: 500px;
    overflow: auto;

}

.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_container_tab {margin-top: 10px;width: auto;height: auto; }
.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_container_tab table {width: 100%;border-spacing: 0px;  }
.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_container_tab tr { height: auto}
.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_container_tab tr.rowalt {background-color: #F0F7FF}
.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_container_tab #tab_module_switch {margin-bottom: 10px;}
.toolbar-placeholder .toolbarBox #modules_list_container #modules_list_loader {margin-top: 10px}
.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules:after {clear: both;}
.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > li {height: 19px;}
.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > li > a {
  padding-top: 8px;
  padding-bottom: 7px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
     -o-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.toolbar-placeholder .toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > li > a:hover {
  border-color: #C0C0C0;
  background-color: #ffffff;
}

.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > li > a {border: 1px solid #ddd;border-bottom:none;}

.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > .active > a,
.toolbar-placeholder .toolbarBox #modules_list_container .nav-tabs-modules > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #F8F8F8;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

div.fix-toolbar {border-bottom: 1px solid #E0E0E0;position:fixed;top:0;opacity:0.9;z-index:500;margin:auto}

.Bloc
{
	margin: 0 !important;
    padding: 1em !important;
	border: 1px solid #CCCED7 !important;
}

.toolbar-placeholder .toolbarBox a
{
	color: #000000;
	text-decoration: none;
}

div.table-responsive table#product a
{
	cursor: pointer;
}

i.process-icon-help
{
    background-image: none !important;
}