.process-icon-help
{
    background-image: url("../img/toolbar/help.png") !important;
}

.process-icon-main_settings
{
    background-image: url("../img/toolbar/setting_tools.png") !important;
}

.process-icon-category_settings
{
    background-image: url("../img/toolbar/category_tools.png") !important;
}

.process-icon-product_settings
{
    background-image: url("../img/toolbar/product_tools.png") !important;
}

.process-icon-shipping_prices
{
    background-image: url("../img/toolbar/shipping_prices.png") !important;
}

/* hides prestashop help button */
li.help-context-AdminModules, li.help-context-adminmodules
{
    display: none !important;
}

strong a.inner_link
{
	color: #990000;
	text-decoration: underline;
}

strong a.inner_link:hover
{
	text-decoration: none;
}

table.productsList th a, table.productsList th a:hover{
	text-decoration: none;
	cursor: pointer;
}

table.productsList tbody tr td:nth-child(5) select{
	width: 200px;
}

#ajax_running {
    background-color: #FFF1A8;
    border: 1px solid #FFD96F;
    border-radius: 0 0 3px 3px;
    color: #000000;
    display: none;
    font-size: 14px;
    font-weight: bold;
    left: 40%;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 10000;
}

fieldset .optionsDescription, fieldset p.description, .info {
    background: url("../img/icon-info.png") no-repeat scroll 6px 6px #BDE5F8;
    border: 1px solid #00529B;
    border-radius: 3px 3px 3px 3px;
    color: #00529B;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    min-height: 32px;
    padding: 10px 5px 5px 40px;
}

#give_it_help_iframe_container
{
	width: 100%;
	text-align: center;
}

.Bloc{
background-color:white;
font-size:11px;
}

#give_it_help_iframe
{
	min-width: 782px;
	min-height: 605px;
	border: none;
}
